!!uclcs.nik.psim.bst.BSTSimConfigBean # Replace with protocol of choice
database_host: 127.0.0.1
database_name: bst_1u1p
database_port: 27017
database_collection_prefix: pass

top_file: he_2m_connected.yaml
inst_config_beans:
- inst_tokens: [MessagesPassedInstHelper, GraphInstHelper, TotalMessagesInstHelper]
  stop_at: 6000.0
- inst_tokens: [PrefixStateInstHelper]
  start_at: 2050.0
  stop_at: 2150.0
  period: 0.01

quit_at: 6000.0
seed: 0
n_passes: 100
n_threads: 1
pool_size: 1    

vars:
- name: BR1
  min: 1
  max: 1000
- name: BR2
  min: 1
  max: 1000

explicit_ebgp_sessions:
- br: BR1
  remote_as: 451
  remote_peer: 451451
- br: BR2
  remote_as: 452
  remote_peer: 452452

explicit_updates:
- at_min: 500.1
  at_max: 505.1
  as_path_len: 5
  loc_pref: 100
  origin: 1
  med: 10
  prefix: 20000
  br: BR1
  remote_peer: 451451
  remote_as: 451
- at_min: 2050.1
  at_max: 2050.1
  as_path_len: 5
  loc_pref: 110
  origin: 1
  med: 10
  prefix: 20000
  br: BR2
  remote_peer: 452452
  remote_as: 452